<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../styles/login.css">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>


<body>
    <% if(errmain!="") {%>
        <div class="alert alert-danger" style="max-width: 240px;" role="alert">
            <%= errmain %>
        </div>
        <% }else{ %>
            <div class="alert alert-success" style="max-width: 240px;" role="alert">
                Hello,There!
            </div>
            <% } %>
                <div class="container">

                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header">
                                <h3>Admin Sign In</h3>
                            </div>
                            <div class="card-body">
                                <form action="/login/admin" method="POST">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>

                                        <input type="text" class="form-control" name="username" placeholder="Username">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-secondary btn-lg btn-block login_btn admin_card">
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="card ">
                            <div class="card-header">
                                <h3>Faculty Sign In</h3>
                            </div>
                            <div class="card-body">
                                <form method="POST" action="/login/faculty">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>

                                        <input type="text" class="form-control" name="username" placeholder="Username">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-secondary btn-lg btn-block login_btn usr_card">
                                    </div>
                                </form>
                            </div>
                            <div style="padding-top: 2.5%; padding-bottom:2.5% ;">
                                <div class="d-flex justify-content-center links">
                                    Don't have an account?<a href="/faculty/register" style="color: rgb(93, 179, 182);">Sign Up</a>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3>Student Sign In</h3>
                            </div>
                            <div class="card-body">
                                <form method="POST" action="/login/student">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>

                                        <input type="text" class="form-control" name="username" placeholder="Username">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-secondary btn-lg btn-block login_btn usr_card">
                                    </div>
                                </form>
                            </div>
                            <div style="padding-top: 2.5%; padding-bottom:2.5% ;">
                                <div class="d-flex justify-content-center links">
                                    Don't have an account?<a href="/student/register" style="color: rgb(93, 179, 182);">Sign Up</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var tkn = localStorage.getItem("token");
                    var role = localStorage.getItem("role");
                    var user = localStorage.getItem("user");
                    if (tkn) {
                        if (role === "admin") {
                            window.location.replace("/admin/home");
                        } else {
                            window.location.replace("/home/" + user);
                        }
                    }
                </script>
                <!-- <script src="../js/dummyhome.js" type="text/javascript"></script> -->
                <!-- JS, Popper.js, and jQuery -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>