@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap%27');
html,
body {
    height: 100%;
    font-family: 'Vidaloka', serif;
    color: rgb(92, 92, 92);
}

.card {
    text-align: center;
    color: rgb(92, 92, 92);
}

.card img {
    margin-top: 1%;
    margin-left: 1%;
    width: 340px;
    height: 180px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.filter {
    background-color: rgb(93, 179, 182) !important;
}

h2 {
    color: rgb(92, 92, 92);
    padding-top: 2%;
    padding-bottom: 3%;
}

h5 {
    color: rgb(92, 92, 92);
}

.card-deck .card img {
    height: 130px;
}

.card-img-top {
    height: 100%;
}

input:focus {
    border-color: rgb(93, 179, 182) !important;
}

.btn-info {
    background-color: rgb(93, 179, 182) !important;
}

.btn-info:hover {
    background-color: rgb(57, 147, 150) !important;
}

.input-group-prepend span {
    width: 40px;
    background-color: rgb(93, 179, 182);
    color: white;
    border: 0 !important;
}

.input-group-prepend span:hover {
    background-color: rgb(57, 147, 150) !important;
}